*{
    padding: 0%;
    margin: 0%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.body{
    background: #e8e8e8;
    box-sizing: border-box;
    overflow: hidden;
}

.header{
    width:100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_qr{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
background: #e8e8e8;
box-shadow:  -9px -9px 18px #acacac,
             9px 9px 18px #acacac;
}


.main{
    width:100vw;
    height: 40vh;
    background-color: #202020;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px,
    rgb(0, 0, 0) 0px 0px 0px 6px,
     rgb(255, 255, 255) 0px 0px 0px 9px,
      rgb(0, 0, 0) 0px 0px 0px 12px,
      rgb(255, 255, 255) 0px 0px 0px 15px;

}

.main_name{
    width: 100vw;
    height: 30px;
    text-align: center;
}

.main_name_p{
    color: white;
    font-size: 1.2rem;
}

.main_data{
    width: 100vw;

    display: flex;
    margin-top: 20px;

}

.main_data_pict{
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 10px;
    border-radius: 20px;
}

.main_data_pict img{
    width: 115px;
    height: 115px;
    border-radius: 20px;
    object-fit: cover;
}

.main_data_divs{
    /* background-color: chartreuse; */
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_data_divs_one{
    height: 30px;
    /* background-color: aquamarine; */
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:monospace;
    font-size: 1.5rem;
}

.main_data_divs_two{
    height: 30px;
    /* background-color: aquamarine; */
    font-size: 2rem;
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_data_divs_two p{
    margin: 0%;
    padding: 0%;
    text-transform: uppercase;
    font-family:monospace;
    font-size: 1.5rem;
}